@charset "UTF-8";
* {
  margin: 0%;
  padding: 1%;
}
body {
  background-color: black;
}
img {
  margin: 1%;
  height: 200px;
  width: 210px;
}
.btn-link {
  width: 150px;
  text-decoration: none;
  color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 5px;
}
.btn-link:hover {
  color: white;
  background-color: blueviolet;
  border-radius: 50px;
  transition: 0.5s;
}
.linkedin-btn-link {
  width: 150px;
  text-decoration: none;
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
}
.linkedin-btn-link:hover {
  color: white;
  background-color: blue;
  border-radius: 50px;

  transition: 0.5s;
}
#botoes{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
@media (min-width:768px){
  #botoes{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}