@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: black;
  color: #D3D3D3;
}
/*SEÇÃO HEADER*/
header {
  height: 20vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: #ad0808;
  margin-right: 10px;
}
header img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #ad0808;
}
/*SEÇÃO SECTION*/
section {
  margin: 15px;
  height: 100%;
  border-top: 2px solid #ad0808;
  padding: 10px;
  text-align: justify;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  justify-content: center;
}
p {
  transform: translate(15px);
  font-weight: bold;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: center;
  color: #ad0808;
}
h3 {
  text-align: center;
}
h4 {
  display: block;
  text-align: start;
  transform: translate(15px);
  color: #ad0808;
  margin-bottom: 3px;
}
ul {
  width: 280px;
}
img {
  height: 250px;
  width: 300px;
  border-radius: 15%;
}
/*SEÇÃO FOOTER*/
footer {
  padding: 5px;
  background-color: black;
  color: #ad0808;
  border-top: 2px solid #ad0808;
}
footer h5 {
  color: #ad0808;
  background-color: black;
  font-size: 15px;
  margin: 5px 0px;
}
footer p {
  background-color: black;
  color: white;
  font-size: 13px;
}
#copy{
  text-align: center;
  font-size: 10px;
}
footer a {
  background-color: black;
}
footer img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
#whatsapp:hover {
  translate: 4px -5px;
  box-shadow: 0px 0px 25px green;
  border: 1px solid rgba(255, 255, 255, 0.486);
  transition: 0.5s;
}
#facebook:hover {
  translate: 4px -5px;
  box-shadow: 0px 0px 25px blue;
  border: 1px solid rgba(255, 255, 255, 0.486);
  transition: 0.5s;
}
#instagram:hover {
  translate: 4px -5px;
  box-shadow: 0px 0px 25px blueviolet;
  border: 1px solid rgba(255, 255, 255, 0.486);
  transition: 0.5s;
}
