@charset "UTF-8";
* {
  margin: 0%;
  padding: 1%;
}
body {
  background-color: black;
}
img {
  margin: 1%;
  height: 200px;
  width: 210px;
}
.btn-link {
  width: 150px;
  text-decoration: none;
  color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 5px;
}
.btn-link:hover {
  color: white;
  background-color: blueviolet;
  transition: 0.5s;
}
.linkedin-btn-link {
  width: 150px;
  text-decoration: none;
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
}
.linkedin-btn-link:hover {
  color: white;
  background-color: blue;
  transition: 0.5s;
}
