@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    padding: 3%;
    background-color: #086788;
    color: #f2f4f3 ;
    border-bottom: 2px solid #f2f4f3;
}
.conteiner{
    background-color: #086788;
}
.row{
    padding:2%;
}
.colunas{
    padding: 1%;
}
img{
    height: 300px;
    width: 100%;
}
