@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

header {
  text-align: center;
  padding: 3%;
}
.row {
  padding: 2%;
}
.colunas {
  padding: 1%;
}
img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}
button:hover {
  border-radius: 25px;
  transition: 0.5s;
}
